/* add fonts */
@font-face {
    font-family: "Tanha";
    src: url('./Assets/Fonts/Tanha.ttf');
    font-style: normal
}
/* global defs */
*{
    box-sizing: border-box;
    font-family: "Tanha";
}
body{
    text-align: right;
    direction: rtl;
}